<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        .red{
            color: red;
            font-weight: bold;
        }
        .title{
            display: inline-block;
        }
        .content{
            display: inline-block;
        }
    </style>
</head>
<body>
<div>Flexbox布局(目前处于W3C工作草案)旨在提供一个更佳有效的布局方式，<span class="red">更好的控制项目的对齐和自由分配容器空间，即使它们的大小是未知的或动态的</span>。因此得其名"flex"。</div>
<div>注：Flexbox布局比较适合Web应用程序的一些小组件和小规模的布局，而Grid布局更适合用于一些大规模的布局。</div>
<br>
<div>flex容器属性</div>
<ol>
    <li>
        <div class="title">display属性：定义一个Flex容器，根据其取的值来决定是内联还是块。Flex容器会为其内容建立新的伸缩格式化上下文。</div>
        <div class="content">有flex和inline-flex</div>
    </li>
    <li>
        <div class="title">flex-direction属性：</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title">flex-wrap属性：</div>
        <div class="content">默认情况之下，Flex项目都尽可能在一行显示。你可以根据flex-wrap的属性值来改变，让Flex项目多行显示。方向在这也扮演了一个重要角度，决定新的一行堆放方向。</div>
    </li>
    <li>
        <div class="title">flex-flow(适用于flex容器元素)</div>
        <div class="content">这是flex-direction和flex-wrap两个属性的缩写。两个属性决定了伸缩容器的主轴与侧轴。默认值是row nowrap（中间用空格隔开）。</div>
    </li>
    <li>
        <div class="title">justify-content</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title">align-items</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title">align-content</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title">order</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title">flex-grow</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title"> flex-shrink</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title">flex-basis</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title">flex</div>
        <div class="content"></div>
    </li>
    <li>
        <div class="title">align-self</div>
        <div class="content"></div>
    </li>


</ol>
</body>
</html>